#admin-console {
    background: #000;
    color: #ff0000;
    font-family: 'Courier New', monospace;
    padding: 10px;
    border: 2px solid #ff0000;
}

.admin-btn {
    background: #330000;
    border: 1px solid #ff0000;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}

.admin-btn:hover {
    background: #ff0000;
    color: black;
}
